<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      POIs Added
    </caption>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Creator</th>
      <th></th>
      <th></th>
    </thead>
    <tbody class="uk-text-left">
      {{#each pois}}
        <tr>
          <td>{{name}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td>
          <td> {{creator.firstName}} {{creator.lastName}} </td>
          <td>
              <a href="/showEditPOI" class="uk-card uk-card-small uk-card-hover uk-padding-small">
                 <i class="fas fa-edit fa-3x" style="color:rgb(14, 168, 160)" title="Edit POI" pos="bottom" uk-tooltip></i>
              </a>
          </td>
          <td>
              <a href="/deletePOI/{{id}}" class="uk-card uk-card-small uk-card-hover uk-padding-small">
                  <i class="fas fa-trash fa-3x" style="color:rgb(14, 168, 160)" title="Delete" pos="bottom" uk-tooltip></i>
              </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
